.bold {
  font-weight: 700;
}


.hero-card {
  height: 228px;
  width: 100%;
  border-radius: 20px;
  margin: 16px 0;
  overflow: hidden;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-card .hero-card-main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
}

.hero-card .hero-card-main .temperature {
  font-size: 28px;
  font-weight: 700;
  color: var(--white);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.hero-card .hero-card-main span {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.hero-card .hero-card-details {
  background: var(--white);
  /* height: 40%; */
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

.hero-card .hero-card-details > div:last-child {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.hero-card .hero-card-details .detail-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
}

.hero-card .hero-card-details .detail-info:first-child {
  font-weight: 700;
  font-size: 16px;
  color: var(--gray-dark);
  margin-bottom: 4px;
}


.hero > h1 {
  font-weight: 400;
  padding-top: 16px;
}

.hero > h3 {
  font-weight: 500;
  font-size: 20px; 
  color: var(--gray);
  margin: 16px 0;
}

.hero .btn-primary {
  margin-top: 8px;
}


.forecast-container {
  background: var(--gray-light);
  padding: 48px 24px;
}


/* Forecast Cards */
.forecast-cards-container {
  width: 100%;
  margin-top: 24px;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	gap: 16px;
}

.forecast-card {
  width: 100%;
  height: 224px;
  background: var(--white);
	/* background: var(--white); */
	border-radius: 20px;
  overflow: hidden;
}

.card-main {
  width: 100%;
  height: 160px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-temperature {
  width: 100%;
  height: 64px;
  font-weight: 600;
  font-size: 32px; 
  background: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-info:first-child {
  font-weight: 600;
  font-size: 20px; 
  color: var(--gray-dark);
}
.card-info:not(:first-child) {
  font-size: 14px;
  color: var(--gray);
}



/* Common destinations */
.common-destinations {
  padding: 48px 24px;
}

.common-destinations h2 {
  text-align: center;
}

.common-destinations p {
  text-align: center;
  color: var(--gray);
  margin: 24px 0;
}

.common-destinations > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter input[type="text"] {
  width: 100%;
}

.newsletter .btn-primary {
  width: 100%;
  margin-top: 16px;
}

.common-cards-container {
  margin-top: 48px;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.common-card {
  height: 224px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.common-image {
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.common-image span {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.common-main {
  background: var(--white);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.common-temperature {
  font-weight: 700;
  font-size: 28px;
  color: var(--black);
}

.common-info {
  font-weight: 600;
  font-size: 16px; 
  color: var(--black);
  
}

.common-forecast-item {
  display: flex;
  align-items: center;
}

.common-forecast-item + .common-forecast-item {
  margin-top: 8px;
}

.common-forecast-item div {
  color: var(--gray);
  font-size: 14px;
  margin-left: 8px;
}

.common-forecast-item div span {
  font-weight: 700;
  color: var(--black);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* Article about Brazil */
article.about-brazil {
  background: var(--gray-light);
  padding: 48px 24px;
  text-align: center;
}

article.about-brazil p {
  margin: 16px 0;
}


article.about-brazil .image-container{
  max-width: 100%;
}

article.about-brazil img {
  max-width: 100%;
}

article.about-brazil .btn-secondary {
  margin-top: 16px;
}

/* Footer */

.contact-info {
  background: var(--primary-dark);
  padding: 48px 24px;
  text-align: center;
}

.contact-info h3 {
  color: var(--white);
}

.contact-info p {
  margin: 8px 0 32px 0;
  color: var(--white);
}

.footer-info {
  background: var(--black);
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-info .rights {
  font-size: 14px;
  color: var(--white);
}