/**
  Homepage CSS Styling
**/ 

/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 1184px;
}


/* Hero */
.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background:pink; */
  margin-bottom: var(--spacing-xlg);
}

.hero-container > .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Hero Card */
.hero-card {
  height: 320px;
  width: 100%;
  border-radius: 20px;
  margin: 16px 0;
  overflow: hidden;
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-card .hero-card-main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
}

.hero-card .hero-card-main .temperature {
  font-size: 28px;
  font-weight: 700;
  color: var(--white);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.hero-card .hero-card-main span {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.hero-card .hero-card-details {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}

.hero-card .hero-card-details > div:last-child {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.hero-card .hero-card-details > div:last-child img {
  max-width: 50px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.hero-card .hero-card-details .detail-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray);
}

.hero-card .hero-card-details .detail-info:first-child {
  font-weight: 700;
  font-size: 16px;
  color: var(--gray-dark);
  margin-bottom: 4px;
}

/* End of Hero Cards */

.text-container h1 {
  font-size: 56px;
  font-weight: 400;
  /* line-height: 72px; */
}

.text-container p {
  font-weight: 500;
  font-size: 20px; 
  color: var(--gray);
  margin-top: var(--spacing-xxsm);
  margin-bottom: var(--spacing-sm);
}

/* Forecast */
.forecast-container {
  width: 100%;
  background: var(--gray-light);
  display: flex;
  justify-content: center;
  padding: var(--spacing-md) 0;
}

.forecast-container > .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.forecast-container > .wrapper .forecast-cards-container {
  width: 100%;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	gap: 16px;
}

/* Forecast Cards */
.forecast-cards-container {
  width: 100%;
  margin-top: 24px;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	gap: 16px;
}

.forecast-card {
  width: 100%;
  height: 224px;
  background: var(--white);
	/* background: var(--white); */
	border-radius: 20px;
  overflow: hidden;
}

.card-main {
  width: 100%;
  height: 160px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-main .card-icon img {
max-width: 50px;
filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.card-temperature {
  width: 100%;
  height: 64px;
  font-weight: 600;
  font-size: 32px; 
  background: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-info:first-child {
  font-weight: 600;
  font-size: 20px; 
  color: var(--gray-dark);
}
.card-info:not(:first-child) {
  font-size: 14px;
  color: var(--gray);
}
/* End of Forecast Cards */

.forecast-container > .wrapper > h2 {
  margin-bottom: var(--spacing-xxsm);
}

/* Destinations */
.destinations-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background:pink; */
  padding: var(--spacing-xlg) 0;
}

.destinations-container .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.destinations-container > .wrapper > p {
  max-width: 784px;
  font-size: 24px;
  text-align: center;
  color: var(--gray);
  margin: var(--spacing-xxsm) 0 var(--spacing-xsm);
}

.destinations-container > .wrapper .newsletter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.destinations-container > .wrapper .newsletter form {
  width: 100%;
  max-width: 768px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 10px;
}

.destinations-container > .wrapper .newsletter form input[type="text"] {
  width: 100%;
}

.destinations-container > .wrapper .newsletter form button {
  width: 100%;
}

.destinations-container > .wrapper > .btn-secondary {
  margin-top: var(--spacing-sm);
}

/* Common Cards */
.common-cards-container {
  margin-top: var(--spacing-lg);
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.common-card {
  height: 224px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.2));
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.common-image {
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.common-image span {
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}

.common-main {
  background: var(--white);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.common-temperature {
  font-weight: 700;
  font-size: 28px;
  color: var(--black);
}

.common-info {
  font-weight: 600;
  font-size: 16px; 
  color: var(--black);
  
}

.common-forecast-item {
  display: flex;
  align-items: center;
}

.common-forecast-item + .common-forecast-item {
  margin-top: 8px;
}

.common-forecast-item div {
  color: var(--gray);
  font-size: 14px;
  margin-left: 8px;
}

.common-forecast-item img {
  max-width: 20px;
}

.common-forecast-item div span {
  font-weight: 700;
  color: var(--black);
}
/* End of Common Cards */

/* Article */
.article-container {
  width: 100%;
  background: var(--gray-light);
  display: flex;
  justify-content: center;
  padding: var(--spacing-xlg) 0;
  text-align: center;
}

.article-container > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:  center;
}

.article-container > .wrapper p {
  text-align: center;
  color: var(--gray-dark);
  max-width: 768px;
  margin-top: var(--spacing-xsm);
}

.article-container > .wrapper img {
  width: 100%;
  max-width: 100%;
}

.article-container > .wrapper img , .article-container > .wrapper a.btn-secondary {
  margin-top: var(--spacing-sm);
}

/* Medium Size */
@media (max-width: 768px) {
  .hero-container > .wrapper {
    grid-template-columns: 1fr;
  }
  
  .common-cards-container {
    grid-template-columns: 1fr;
  }

  .destinations-container > .wrapper .newsletter form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-md);
  }
}