/* Colors */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');

:root {
  --primary: #00B2A9;
  --primary-light: #40C5BF;
  --primary-dark: #00867F;
  --black: #151515;
  --gray: #797979;
  --gray-light: #F0F0F0;
  --border-color:#CBCBCB;
  --gray-dark: #444444;
  --white: #FFFFFF;
  --orange: #FB6453;
  --orange-light: #FA7752;
  --yellow: #FFCF4A;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--black);
}




/* Heading and paragraph */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Buttons */
.btn-primary {
  background: var(--orange-light);
  border: 1px solid var(--orange-light);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  padding: 16px 32px;
  display: inline-block;
  transition: ease .15s;
}

.btn-primary:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  cursor: pointer;
}

.btn-secondary {
  border: 1px solid var(--border-color);
  color: var(--gray-dark);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 12px;
  padding: 16px 32px;
  display: inline-block;
  transition: ease-in .15s;
}

.btn-secondary:hover {
  background: var(--yellow);
  border: 1px solid var(--yellow);
  color: var(--black);
  cursor: pointer;
}

input[type="text"] {
  border: 1px solid var(--border-color);
  color: var(--gray-dark);
  font-size: 16px;
  border-radius: 12px;
  padding: 16px 24px;
}

input[type="text"]:focus {
  border: 1px solid var(--yellow);
  outline: none;
}

/* Navigation Menu */
header {
  padding: 0 24px 60px 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

/* Burger Menu */
/* .mobile-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
}

.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: .4s;
}

.mobile-menu__icon {
  display: block;
  position: relative;
  background: var(--primary);
  width: 90%;
  height: 4px;
  border-radius: 2px;
  transition: .4s;
}

.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--primary);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: .4s;
}

.mobile-menu__icon::after {
  top: 8px;
}

.mobile-menu__icon::before {
  top: -8px;
}

.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: .5s;
  transition-delay: .2s;
  overflow: hidden;
  background-color: var(--primary);
}

.mobile-menu__list {
  transition: .5s;
  transition-delay: .5s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
}

.mobile-menu__item {
  font-size: 26px;
  padding-bottom: 15px;
}

.mobile-menu__link {
  text-decoration: none;
  color: #fff;
}

.mobile-menu__checkbox {
  display: none;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
  transition-delay: 0s;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__container  {
  height: 100%;
  transition-delay: 0s;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:before, 
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:after {
  top: 0;
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */